   *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  /* background-color: #080710; */
 background-image: url(./image/yesss.jpg);
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.ok{
    height: 520px;
    width: 400px;
    background-image: url(./image/div\ img.jpg);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.ok *{
    font-family: 'Poppins',sans-serif;
    color: #d5e714;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.ok h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}
.ok h4{
  font:20px "Quicksand", san-serif;
    color: #ffffff;
    transition: all 0.2s;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #52b3f4  !important;
}
::placeholder{
    color: #ffffff;
}
button{
    margin-top: 10px;
    width: 100%;
    background-color: #aaba00;
    color: #080710 !important;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
      
}
.button:active {
    background-color: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
  }
  
  .button__text {
    font: bold 20px "Quicksand", san-serif;
    color: #ffffff !important;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
}
button:hover{background: linear-gradient(
    to right,
    #ff512f,
    #f09819
);
color:#48b3fa !important
;

  }
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

